/* App.css */
.app-container {
  background-color: white;
  

  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  padding-left: 60px;
}
/* global CSS */
html {
  scroll-behavior: smooth;
}

main {
  flex: 1; 
}

@media screen and (max-width: 768px) {
  .app-container {
    padding-top: 20px; 
    padding-left: 0px;
  }
  
}
/* Hide scrollbar but allow scroll */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
